.app__main-wrapper {
    padding: 0 10rem;
}

.app__main-container {
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.app__main-titleside {
    width: 30%;
    margin-bottom: 10px;
    margin-right: 10px;
}

.app__main-titleside-title {
    margin-bottom: 30px;
}

.app__main-titleside-text {
}

@media (max-width: 1000px) {
    .app__main-container {
        flex-direction: column;
    }

    .app__main-titleside {
        width: 100%;
    }
}
